@media (max-width: 1400px){
    .login{
        flex-direction: column;
    }

    .login .apresentation h1, p{
        text-align: center;
    }

    .books__container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px){
    .book__title{
        text-align: center;
    }

    .book__content{
        display: block;
    }

    .book__image{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .book__info{
        text-align: center;
    }

    .search-book input{
        width: 80%;
    }

    .create-book{
        width: 80%;
    }
}

@media (max-width: 700px){
    .login{
        width: 90%;
        padding: 20px;
    }

    .books__container{
        width: 95%;
    }

    .create-book{
        width: 95%;
    }
}