@media (max-width: 1400px){
    .login{
        flex-direction: column;
    }

    .login .apresentation h1, p{
        text-align: center;
    }
}

@media (max-width: 700px){
    .login{
        width: 90%;
        padding: 20px;
    }
}