<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="shortcut icon" href="/image/notes-notepad.svg" type="image/x-icon">

    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/vars.css">
    <link rel="stylesheet" href="/style/header-footer.css">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/form.css">
    <link rel="stylesheet" href="/style/media-queries.css">
</head>
<body>
    
