<%- include('partials/header.ejs') %>

<main class="container">
    <div class="content__container">
        <h1>Book Notes</h1>

        <div class="form">
            <h2>Create a new account</h2>
            <p>It's quick and easy.</p>

            <hr>

            <!-- Registration form -->
            <form action="/new-account" method="post">
                <!-- Nickname input -->
                <label for="nickname">Nickname</label>
                <input type="text" name="nickname" id="nickname" placeholder="Enter your nickname" maxlength="50" required>

                <!-- Display error message only if it exists -->
                <% if (locals.error) { %>
                    <p class="error-message"><%= locals.error %></p>
                <% } %>

                <!-- Password input -->
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" maxlength="16" required>

                <!-- Submit button -->
                <button type="submit" class="create-account">Create Account</button>
            </form>
        </div>
    </div>
</main>

<%- include('partials/footer.ejs') %>
