<%- include('partials/header.ejs') %>

<main class="container">
    <div class="login">

        <!-- Brief description -->
        <div class="apresentation">
            <h1>Book Notes</h1>
            <p>Book Notes helps you organize the books you read.</p>
        </div>

        <!-- Login form -->
        <div class="form">
            <form action="/login" method="post">
                <!-- Nickname input -->
                <input type="text" name="nickname" id="nickname" placeholder="Enter your nickname" maxlength="50" required>

                <!-- Password input -->
                <input type="password" name="password" id="password" placeholder="Enter your password" minlength="4" maxlength="16" required>

                <!-- Display error message only if it exists -->
                <% if (locals.error) { %>
                    <p class="error-message"><%= locals.error %></p>
                <% } %>

                <!-- Submit button -->
                <button type="submit" id="enter" class="btn">Enter</button>
            </form>

            <hr>

            <!-- Link to create an account -->
            <a href="/create-account" class="create-account btn">Create new account</a>
        </div>
    </div>
</main>

<%- include('partials/footer.ejs') %>
